<div class="logo text-white text-center logo-text-font">
  <b>MANAGEMENT</b>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-menu-item [routerLink]="['/management/trac-nghiem']">
    <i nz-icon nzType="database"></i>
    <span>QL Câu hỏi</span>
  </li>
  <li nz-menu-item [routerLink]="['/management/kq-trac-nghiem']">
    <i nz-icon nzType="container"></i>
    <span>QL Kết quả</span>
  </li>
  <li nz-menu-item [routerLink]="['/management/nguoi-dung']">
    <i nz-icon nzType="user"></i>
    <span>QL Người dùng</span>
  </li>
</ul>
