<div class="pull-left">
  QUẢN TRỊ WEBSITE TRẮC NGHIỆM ONLINE
</div>
<div class="pull-right">
  <img src="assets/img/user.png" onerror="this.src='assets/img/user.png'" class="avatar pointer"
  nz-dropdown [nzDropdownMenu]="menuUser">
  <nz-dropdown-menu #menuUser="nzDropdownMenu">
    <ul nz-menu>
      <!-- <li nz-menu-item [routerLink]="['/profile']"><i class="fas fa-user mr-right-5"></i>Thông tin cá nhân</li> -->
      <!-- <li nz-menu-divider></li> -->
      <li nz-menu-item class="text-red"><i class="fas fa-power-off mr-right-5"></i>Đăng xuất</li>
    </ul>
  </nz-dropdown-menu>
</div>
