.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #2196f3;
  padding: 10px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  background: #2196f3;
}

.body-box {
  margin-top: 70px;
  padding: 10px;
}
