.text-blue {
  color: #007bff;
}

.text-orange {
  color: #ff5722;
}

.text-red {
  color: #F44336;
}

.text-white {
  color: #fff;
}

.text-green {
  color: #4caf50;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}
