<div nz-row [nzGutter]="16" class="mr-bot-10 sumary-font" *ngIf="modalData.data.cauTraLois?.length">
  <div nz-col nzSpan="12">
    Tổng số câu đã trả lời: <b>{{modalData.data.cauTraLois?.length}}</b>
  </div>
  <div nz-col nzSpan="12">
    Số câu trả lời đúng: <b>{{modalData.data.soCauTraLoiDung}}</b>
  </div>
  <div nz-col nzSpan="12">
    Tỉ lệ trả lời đúng: <b>{{modalData.data.soCauTraLoiDung*100 / modalData.data.cauTraLois?.length |
      number: '1.0-2'}}%</b>
  </div>
  <div nz-col nzSpan="12">
    Số điểm đã đạt được: <b>{{modalData.data.tongDiem}}/{{fullDiemTong}}</b>
  </div>
</div>
<div nz-row [nzGutter]="16" class="mr-bot-10">
  <div nz-col nzSpan="24">
    <nz-table #dataTable nzBordered [nzData]="modalData.data.cauTraLois">
      <thead>
        <tr>
          <th nzAlign="center" nzWidth="5%">STT</th>
          <th nzAlign="center" nzWidth="55%">Câu hỏi</th>
          <th nzAlign="center" nzWidth="40%">Bạn đã trả lời</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cauHoi of modalData.data.cauTraLois; let i = index">
          <td nzAlign="center">{{i+1}}</td>
          <td nzAlign="center" class="no-mr-b">
            <p [innerHTML]="cauHoi.cauHoiTracNghiem.cauHoi"></p>
          </td>
          <td>{{ cauHoi.cauTraLoi.noiDungCauTraLoi }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
