// Margin
@import './assets/css/margin.scss';

// Padding
@import './assets/css/padding.scss';

// Custom width / height
@import './assets/css/width-height.scss';

// Nz-Btn Custom color
@import './assets/css/nz-btn-custom.scss';

// Nz-Modal custom
@import './assets/css/nz-modal-custom.scss';

// Nz-table custom
@import './assets/css/nz-table-custom.scss';

// Drag Drop
@import './assets/css/drag-drop.scss';

// Custom text color
@import './assets/css/custom-text.scss';

/* Global CkEditor 5 */
/* CkE Default */
.ck-editor__editable_inline {
  min-height: 100px;
  max-height: 500px;
  overflow: scroll;
}
/* CkE Default */
.cke-h50px .ck-editor__editable_inline {
  min-height: 50px !important;
}
/* CkE Default */
.cke-h200px .ck-editor__editable_inline {
  min-height: 200px !important;
}
/* End Global CkEditor 5 */

body {
  height: auto;
  background-image: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.title-heading {
  font-size: 34px;
  font-weight: 700;
}

.login-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page-btn {
  width: 100%;
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pointer:hover {
  cursor: pointer;
}

td > nz-tag:last-child {
  margin-right: auto;
}

.has-error {
  color: red;
}

ul.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.no-mr-b, .no-mr-b p {
  margin-bottom: 0;
}

.quiz-admin-3-row {
  height: 67px;
  overflow: hidden;
}

@media only screen and (max-width: 575px) {
  .hide-mobile {
    display: none;
  }
  .w-100-mobile {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}

.data-box {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff94;
}

.sumary-font {
  font-size: 16px;
}
