// Margin
@import './assets/css/margin.scss';

// Padding
@import './assets/css/padding.scss';

// Custom width / height
@import './assets/css/width-height.scss';

// Nz-Btn Custom color
@import './assets/css/nz-btn-custom.scss';

// Nz-Modal custom
@import './assets/css/nz-modal-custom.scss';

// Nz-table custom
@import './assets/css/nz-table-custom.scss';

// Drag Drop
@import './assets/css/drag-drop.scss';

// Custom text color
@import './assets/css/custom-text.scss';

body {
  height: auto;
  background-image: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.title-heading {
  font-size: 34px;
  font-weight: 700;
}

.login-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page-btn {
  width: 100%;
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pointer:hover {
  cursor: pointer;
}
