<div nz-row [nzGutter]="16" class="mr-bot-10 text-center">
  <div nz-col nzSpan="24">
    <h2>NGÂN HÀNG CÂU HỎI</h2>
  </div>
</div>
<div nz-row [nzGutter]="16" class="mr-bot-10">
  <div nz-col nzSpan="24" class="text-right mr-bot-5">
    <button nz-button nzType="primary" type="button" (click)="openFormTracNghiem(formTracNghiem)">
      <i class="fas fa-plus mr-right-5"></i>Thêm câu hỏi
    </button>
  </div>
  <div nz-col nzSpan="24">
    <nz-table #dataTable nzBordered [nzData]="listCauHoi.data">
      <thead>
        <tr>
          <th nzWidth="10%" nzAlign="center">STT</th>
          <th nzWidth="40%" nzAlign="center">Câu hỏi<br><small>(Chỉ hiện 3 dòng đầu tiên)</small></th>
          <th nzWidth="30%" nzAlign="center">Đáp án</th>
          <th nzWidth="10%" nzAlign="center">Điểm</th>
          <th nzWidth="10%" nzAlign="center"><i class="fas fa-cog"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cauHoi of listCauHoi.data; let i = index">
          <td nzAlign="center">
            {{ i + 1 + (listCauHoi.currentPage-1)*listCauHoi.limit}}
          </td>
          <td>
            <p class="no-mr-b quiz-admin-3-row" [innerHTML]="cauHoi.cauHoi | safeHtml"></p>
          </td>
          <td>
            <ul class="no-bullet">
              <li *ngFor="let dapAn of cauHoi.dapAns">
                <i class="far fa-check-square mr-right-5 text-green text-bold" *ngIf="dapAn.dapAnDung"></i>
                <i class="far fa-square mr-right-5" *ngIf="!dapAn.dapAnDung"></i>
                <span [ngClass]="dapAn.dapAnDung ? 'text-green text-bold' : ''">{{dapAn.noiDungCauTraLoi}}</span>
              </li>
            </ul>
          </td>
          <td nzAlign="center">
            {{cauHoi.diemSo}}
          </td>
          <td nzAlign="center">
            <i class="fas fa-edit text-blue pointer mr-right-5" (click)="openFormTracNghiem(formTracNghiem, cauHoi)"></i>
            <i class="fas fa-trash text-red pointer" (click)="deleteCauHoiTracNghiem(cauHoi.id)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <table-paginate [pageConfig]="listCauHoi" (pageChange)="pageChange($event)"></table-paginate>
  </div>
</div>

<ng-template #formTracNghiem>
  <app-form-trac-nghiem [modalData]="modalData" (closePopup)="closePopup($event)"></app-form-trac-nghiem>
</ng-template>
